
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: helvetica, arial, sans-serif;
    margin: 25px;
  }
  
  main {
    display:block;
    height:175px;
    user-select: none;
  }
  
  header {

  }
  
  h1 {
    /* font-weight: bold; */
    font-size: 35px;
    color: #000;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
  }
  
  .bold {
    font-weight: bold;
  }
  
  p {
    max-width: 600px;
  }
  
  
  li {
    margin-bottom: 5px;
  }
  
  footer {
    padding-top: 25px;
    border-top: 1px solid black;
  }
  
  footer a {
    float:left;
    margin:5px;
  }

  .pet-content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-y: auto;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .pet {
    padding-top: 15px;
    border-radius: 20px;
    margin-right: 10px;
  }

  .pet-image-container {
    text-align: center;
    padding: 0px 110px;
  }
 
  .pet-image {
    height:250px;
  }

  .pet-image1 {
    background-color: rgb(62, 129, 237);
  } 

  .pet-image1-button {
    background-color: rgb(34, 85, 168);
    border-color: #404853;
    color: #fafafa;
  }
  
  .pet-image2 {
    background-color: rgb(132, 165, 199);
  } 

  .pet-image2-button {
    background-color: #6e7e91;
    border-color: #404853;
    color: #fafafa;
  }
  
  .pet-image3 {
    background-color: rgb(117, 62, 237);
  }

  .pet-image3-button {
    background-color: rgb(53, 16, 134);
    border-color: #404853;
    color: #fafafa;
  }

  .pet-image4 {
    background-color: rgb(205, 237, 62);
  } 

  .pet-image4-button {
    background-color: rgb(124, 151, 3);
    border-color: #404853;
    color: #fafafa;
  }
  
  .pet-image5 {
    background-color: rgb(255, 85, 0);
  } 

  .pet-image5-button {
    background-color: rgb(199, 41, 6);
    border-color: #404853;
    color: #fafafa;
  }
  
  .pet-image6  {
    background-color: rgb(54, 64, 81);
  }

  .pet-image6-button {
    background-color: #4e627c;
    border-color: #404853;
    color: #fafafa;
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:20px;
  }
  
  .button-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .button-container button {
    width: 100px;
      margin-right: 10px;
      margin-bottom: 10px;
      text-align: center;
      display: inline-block;
      float: left;
    font-size:15px;
    cursor:pointer;
    background-image: linear-gradient(to bottom,rgba(246,246,246,.1),0%,rgba(30,40,53,0),66%);
    user-select: none;
  }

  .text-display {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }

  .text-display-content {
    background-color: bisque;
    width: 438px;
    height: 200px;
    padding: 15px;
    border: #000 solid;
    border-radius: 5px;
    overflow: auto;

    font-size: 15px;
    font-weight: 600;

    resize: vertical;
  }

  .clearBtn {
    float: right;
    padding: 5px 10px;
    background: #1e2835;

    color: aliceblue;
  }

  .text-item {
    margin: 0px 0px 16px 0px;
  }