
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: helvetica, arial, sans-serif;
    margin: 25px;
  }
  
  main {
    display:block;
    height:175px;
  }
  
  header {
    border-bottom: 1px solid black;
  }
  
  h1 {
    font-weight: bold;
    color: #000;
    text-align: center;
  }
  
  .bold {
    font-weight: bold;
  }
  
  p {
    max-width: 600px;
  }
  
  
  li {
    margin-bottom: 5px;
  }
  
  footer {
    padding-top: 25px;
    border-top: 1px solid black;
  }
  
  footer a {
    float:left;
    margin:5px;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
 
  .pet-image {
    height:250px;
  }
  
  .pet-image-container {
    text-align: center;
    padding: 0px 110px;
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding:20px;
  }

  .dashboard > div {
    display: inline-block;
  }
  
  .button-container {
    margin-top:20px;
  }
  
  .button-container button {
    width: 100px;
      margin-right: 10px;
      text-align: center;
      display: inline-block;
      float: left;
    font-size:15px;
    background-color: #1e2835;
    border-color: #404853;
    cursor:pointer;
    background-image: linear-gradient(to bottom,rgba(246,246,246,.1),0%,rgba(30,40,53,0),66%);
    color: #fafafa;
    user-select: none;
  }

  .text-display-content {
    background-color: bisque;
  }